.accessibilities {
    display: flex;
    justify-content: space-evenly;
    margin-right: 60rem;
}

.formgroup-textarea {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 20rem;
    margin-top: 2rem;
}

.pottyForm {
    margin-left: 2rem;
}

.recent {
    display: flex;
    justify-content: center;
    background-color: black;
}