.cards {
    margin-left: 45.9rem;
    margin-bottom: 2rem;
}

.button {
    margin-left: 21rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: black;
    
}

.establishments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.theLink {
    margin-left: 2rem;
}

.find {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 41.5rem;
    margin-left: 35rem;
    background-color: black;
}