.navbar {
    justify-content: left;
    background-color: grey;
    height: 7em;
    background-image: url('https://www.kindpng.com/picc/m/225-2257275_bathroom-computer-icons-public-toilet-clip-art-male.png');
    background-size: 5%;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.me-auto {
    margin-left: 5rem;
    font-size: xx-large;
    font-style: oblique;
}

.potty__pal {
    margin-left: 6rem;
}

.navbar__link {
    margin-left: 96rem;
    padding-bottom: 1rem;
    background-color: black;
}

.crate {
    font-size: medium;
    margin-right: 80rem;
    margin-top: 1.7rem;
}